<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-produit-heading">Create or edit a Produit</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                    <div *ngIf="editForm.get('nom').invalid && (editForm.get('nom').dirty || editForm.get('nom').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nom').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_prix">Prix</label>
                    <input type="number" class="form-control" name="prix" id="field_prix"
                           formControlName="prix"/>
                    <div *ngIf="editForm.get('prix').invalid && (editForm.get('prix').dirty || editForm.get('prix').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('prix').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('prix').errors.min">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('prix')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_taille">Taille</label>
                    <select class="form-control" name="taille" formControlName="taille" id="field_taille">
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        <option value="XXL">XXL</option>
                        <option value="NULL"></option>
                    </select>
                    <div *ngIf="editForm.get('taille').invalid && (editForm.get('taille').dirty || editForm.get('taille').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('taille').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_image">Image</label>
                    <div>
                        <img [src]="'data:' + editForm.get('imageContentType').value + ';base64,' + editForm.get('image').value" style="max-height: 100px;" *ngIf="editForm.get('image').value" alt="produit image"/>
                        <div *ngIf="editForm.get('image').value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{editForm.get('imageContentType').value}}, {{byteSize(editForm.get('image').value)}}</span>
                            <button type="button" (click)="clearInputImage('image', 'imageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_image" (change)="setFileData($event, 'image', true)" accept="image/*"/>
                    </div>
                    <input type="hidden" class="form-control" name="image" id="field_image"
                           formControlName="image"/>
                    <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                           formControlName="imageContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_personnalisable">Personnalisable</label>
                    <input type="checkbox" class="form-control" name="personnalisable" id="field_personnalisable"
                           formControlName="personnalisable"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_imagePerso">Image Perso</label>
                    <div>
                        <img [src]="'data:' + editForm.get('imagePersoContentType').value + ';base64,' + editForm.get('imagePerso').value" style="max-height: 100px;" *ngIf="editForm.get('imagePerso').value" alt="produit image"/>
                        <div *ngIf="editForm.get('imagePerso').value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{editForm.get('imagePersoContentType').value}}, {{byteSize(editForm.get('imagePerso').value)}}</span>
                            <button type="button" (click)="clearInputImage('imagePerso', 'imagePersoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_imagePerso" (change)="setFileData($event, 'imagePerso', true)" accept="image/*"/>
                    </div>
                    <input type="hidden" class="form-control" name="imagePerso" id="field_imagePerso"
                           formControlName="imagePerso"/>
                    <input type="hidden" class="form-control" name="imagePersoContentType" id="field_imagePersoContentType"
                           formControlName="imagePersoContentType" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
