<div>
    <h2 id="page-heading">
        <span>Factures</span>
        <ul  *jhiHasAnyAuthority="'ROLE_ADMIN'">
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-facture" [routerLink]="['/facture/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Facture
            </span>
        </button>
    </ul>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="factures?.length === 0">
        <span>No factures found</span>
    </div>
    <div class="table-responsive" *ngIf="factures?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="code"><span>Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="date"><span>Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="details"><span>Details</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="statut"><span>Statut</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="modePaiement"><span>Mode Paiement</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="datePaiement"><span>Date Paiement</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="motantPaiement"><span>Motant Paiement</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="client.email"><span>Client</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let facture of factures ;trackBy: trackId">
                <td><a [routerLink]="['/facture', facture.id, 'view' ]">{{facture.id}}</a></td>
                <td>{{facture.code}}</td>
                <td>{{facture.date | date:'medium'}}</td>
                <td>{{facture.details}}</td>
                <td>{{facture.statut}}</td>
                <td>{{facture.modePaiement}}</td>
                <td>{{facture.datePaiement | date:'medium'}}</td>
                <td>{{facture.motantPaiement}}</td>
                <td>
                    <div *ngIf="facture.client">
                        <a [routerLink]="['/client', facture.client?.id, 'view' ]" >{{facture.client?.email}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/facture', facture.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Afficher</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/facture', facture.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Editer</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/facture', { outlets: { popup: facture.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Supprimer</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="factures?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
