<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="facture">
            <h2><span>Facture</span> {{facture.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{facture.code}}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{facture.date}}</span>
                </dd>
                <dt><span>Details</span></dt>
                <dd>
                    <span>{{facture.details}}</span>
                </dd>
                <dt><span>Statut</span></dt>
                <dd>
                    <span>{{facture.statut}}</span>
                </dd>
                <dt><span>Mode Paiement</span></dt>
                <dd>
                    <span>{{facture.modePaiement}}</span>
                </dd>
                <dt><span>Date Paiement</span></dt>
                <dd>
                    <span>{{facture.datePaiement}}</span>
                </dd>
                <dt><span>Motant Paiement</span></dt>
                <dd>
                    <span>{{facture.motantPaiement}}</span>
                </dd>
                <dt><span>Client</span></dt>
                <dd>
                    <div *ngIf="facture.client">
                        <a [routerLink]="['/client', facture.client?.id, 'view']">{{facture.client?.email}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/facture', facture.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
