<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-client-heading">Create or edit a Client</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                    <div *ngIf="editForm.get('nom').invalid && (editForm.get('nom').dirty || editForm.get('nom').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nom').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_prenom">Prenom</label>
                    <input type="text" class="form-control" name="prenom" id="field_prenom"
                           formControlName="prenom"/>
                    <div *ngIf="editForm.get('prenom').invalid && (editForm.get('prenom').dirty || editForm.get('prenom').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('prenom').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_genre">Genre</label>
                    <select class="form-control" name="genre" formControlName="genre" id="field_genre">
                        <option value="HOMME">HOMME</option>
                        <option value="FEMME">FEMME</option>
                        <option value="AUTRE">AUTRE</option>
                    </select>
                    <div *ngIf="editForm.get('genre').invalid && (editForm.get('genre').dirty || editForm.get('genre').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('genre').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                    <div *ngIf="editForm.get('email').invalid && (editForm.get('email').dirty || editForm.get('email').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email').errors.pattern">
                            This field should follow pattern for "Email".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tel">Tel</label>
                    <input type="text" class="form-control" name="tel" id="field_tel"
                           formControlName="tel"/>
                    <div *ngIf="editForm.get('tel').invalid && (editForm.get('tel').dirty || editForm.get('tel').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tel').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_addresseLigne1">Addresse Ligne 1</label>
                    <input type="text" class="form-control" name="addresseLigne1" id="field_addresseLigne1"
                           formControlName="addresseLigne1"/>
                    <div *ngIf="editForm.get('addresseLigne1').invalid && (editForm.get('addresseLigne1').dirty || editForm.get('addresseLigne1').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('addresseLigne1').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_addresseLigne2">Addresse Ligne 2</label>
                    <input type="text" class="form-control" name="addresseLigne2" id="field_addresseLigne2"
                           formControlName="addresseLigne2"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_ville">Ville</label>
                    <input type="text" class="form-control" name="ville" id="field_ville"
                           formControlName="ville"/>
                    <div *ngIf="editForm.get('ville').invalid && (editForm.get('ville').dirty || editForm.get('ville').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ville').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_pays">Pays</label>
                    <input type="text" class="form-control" name="pays" id="field_pays"
                           formControlName="pays"/>
                    <div *ngIf="editForm.get('pays').invalid && (editForm.get('pays').dirty || editForm.get('pays').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('pays').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option *ngIf="!editForm.get('user').value" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id === editForm.get('user').value?.id ? editForm.get('user').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('user').invalid && (editForm.get('user').dirty || editForm.get('user').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('user').errors.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
