/* ==========================================================================
Main page styles
========================================================================== */

.carousel1 {
  height: 500px;
  width: 500px;
  display: inline-block;
  vertical-align: middle;
  background: url('F:\Workspace\ProjetECommerce\printed.0.0.1\src\main\webapp\content\images\Couleur.jpg') no-repeat center center;
  background-size: contain;
}

.carousel2 {
  height: 500px;
  width: 500px;
  display: inline-block;
  vertical-align: middle;
  background: url('F:\Workspace\ProjetECommerce\printed.0.0.1\src\main\webapp\content\images\t_shirt_masculin_carousel.jpg') no-repeat
    center center;
  background-size: contain;
}

.carousel3 {
  height: 500px;
  width: 500px;
  display: inline-block;
  vertical-align: middle;
  background: url('F:\Workspace\ProjetECommerce\printed.0.0.1\src\main\webapp\content\images\Couleur.jpg') no-repeat center center;
  background-size: contain;
}

.carousel4 {
  height: 500px;
  width: 500px;
  display: inline-block;
  vertical-align: middle;
  background: url('F:\Workspace\ProjetECommerce\printed.0.0.1\src\main\webapp\content\images\avis-professionnels_carousel.jpg') no-repeat
    center center;
  background-size: contain;
}

.article1 {
  max-height: 500px;
  max-width: 200px;
  display: inline-block;
  vertical-align: middle;
  background: url('F:\Workspace\ProjetECommerce\printed.0.0.1\src\main\webapp\content\images\t_shirt_femme_article.jpg') no-repeat center
    center;
  background-size: contain;
}

.article2 {
  max-height: 500px;
  max-width: 200px;
  display: inline-block;
  vertical-align: middle;
  background: url('F:\Workspace\ProjetECommerce\printed.0.0.1\src\main\webapp\content\images\t_shirt_masculin_article.jpg') no-repeat center
    center;
  background-size: contain;
}

.article3 {
  max-height: 500px;
  max-width: 200px;
  display: inline-block;
  vertical-align: middle;
  background: url('F:\Workspace\ProjetECommerce\printed.0.0.1\src\main\webapp\content\images\Couleur.jpg') no-repeat center center;
  background-size: contain;
}

.article4 {
  max-height: 500px;
  max-width: 200px;
  display: inline-block;
  vertical-align: middle;
  background: url('F:\Workspace\ProjetECommerce\printed.0.0.1\src\main\webapp\content\images\avis-professionnels_article.jpg') no-repeat
    center center;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
    background-size: contain;
  }
}
